In [1]:
import pandas as pd
import numpy as np

In [21]:
# Loading the dataset (We can do like the sir shown but tried another way nothing but same just given variable)
file_path = 'Data-cleaning-for-beginners-using-pandas.csv'
df = pd.read_csv(file_path)

In [5]:
# Checking for null values
print('Total sum of Null values in data: ', df.isnull().sum().sum())
print()
print(df.isnull().sum())

Total sum of Null values in data:  8

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

In [6]:
# Fixing column names
df.columns = df.columns.str.lower().str.replace(" ", "_")
print(df.columns)

Index(['index', 'age', 'salary', 'rating', 'location', 'established',
       'easy_apply'],
      dtype='object')

In [7]:
# Handling missing values in 'age'
print(df.age.mean())
df['age'] = df.age.fillna(df.age.mean())
df['age'] = df.age.round(decimals=1)
print(df.age.isnull().sum())

39.04545454545455
0

In [8]:
# Cleaning the 'established' column
df['established'] = df['established'].replace(-1, np.nan)
df['established'].fillna('Unknown', inplace=True)

In [9]:
# Cleaning the 'location' column and splitting the city from the city short name
df['location'] = df['location'].str.replace("Australia Aus", "Australia, Aus")
df['location_city'] = df['location'].str.split(",", expand=True).get(0)
df['city_sign'] = df['location'].str.split(",", expand=True).get(1)
df.drop('location', inplace=True, axis=1)

In [10]:
# Cleaning the 'rating' column and replacing special characters with NaN values
df['rating'] = df['rating'].replace(-1, np.nan)

In [11]:
# Replacing NaN values in 'rating' with the mean and rounding
df['rating'] = df['rating'].fillna(df['rating'].mean()).round(decimals=1)

In [12]:
# Cleaning the 'easy_apply' column
df['easy_apply'] = df['easy_apply'].replace("-1", "False")
df['easy_apply'] = df['easy_apply'].replace("True", True).replace("False", False)

In [13]:
# Cleaning the 'salary' column
df['salary'] = df['salary'].apply(lambda x: x.replace("$", '').replace("k", '000').replace("-", " to "))
print(df['salary'].iloc[0])

44000 to 99000

In [14]:
# Identifying and handling outliers in 'age' and 'rating'
for column in ['age', 'rating']:
    q1 = df[column].quantile(0.25)
    q3 = df[column].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    df = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

In [15]:
# Normalizing 'rating' column to a consistent scale (0-10)
df['rating'] = df['rating'] / df['rating'].max() * 10

In [16]:
# Ensuring 'age' is within a reasonable range
df['age'] = df['age'].apply(lambda x: x if 18 <= x <= 65 else np.nan)
df['age'] = df['age'].fillna(df['age'].mean()).round(decimals=1)

In [17]:
# Ensuring 'established' is a valid year or 'Unknown'
current_year = pd.to_datetime('today').year
df['established'] = df['established'].apply(lambda x: x if x == 'Unknown' or (pd.notnull(x) and x <= current_year) else 'Unknown')

In [18]:
# Converting 'easy_apply' to boolean
df['easy_apply'] = df['easy_apply'].astype(bool)

In [19]:
# Cleaning the 'location_city' and 'city_sign' columns
df['location_city'] = df['location_city'].str.strip()
df['city_sign'] = df['city_sign'].str.strip()

In [20]:
# Final cleaned dataset
print(df)

    index   age           salary     rating established  easy_apply  \
0       0  44.0   44000 to 99000   6.923077      1999.0        True
2       2  39.0   77000 to 89000   5.512821     Unknown       False
4       4  25.0   44000 to 99000   8.205128      2002.0       False
5       5  44.0   77000 to 89000   1.794872      1999.0        True
7       7  44.0   44000 to 99000   5.512821     Unknown       False
8       8  35.0   44000 to 99000   6.923077     Unknown       False
9       9  22.0   44000 to 99000   9.871795     Unknown        True
10     10  55.0   10000 to 49000   6.923077      2008.0        True
11     11  44.0   10000 to 49000   8.589744      2009.0       False
13     13  25.0   44000 to 99000   5.512821      2019.0        True
15     15  44.0  88000 to 101000   3.846154      1999.0       False
16     16  19.0   19000 to 40000   5.769231      1984.0       False
17     17  39.0   44000 to 99000   6.794872      1943.0        True
18     18  35.0   44000 to 99000   8.589744      1954.0        True
19     19  32.0   44000 to 99000   4.230769      1955.0        True
20     20  39.0   44000 to 99000   7.307692      1944.0        True
21     21  35.0   44000 to 99000   6.410256      1946.0       False
22     22  19.0   55000 to 66000  10.000000      1988.0        True
23     23  39.0   44000 to 99000   3.076923      1999.0        True
26     26  39.0   55000 to 66000   5.512821      1934.0        True
27     27  52.0   44000 to 99000   6.923077      1935.0       False
28     28  39.0   39000 to 88000   4.358974      1932.0       False

   location_city city_sign
0          India        In
2       New York        Ny
4      Australia       Aus
5          India        In
7      Australia       Aus
8       New York        Ny
9          India        In
10         India        In
11         India        In
13     Australia       Aus
15     Australia       Aus
16         India        In
17      New York        Ny
18      New York        Ny
19      New York        Ny
20      New York        Ny
21      New York        Ny
22      New York        Ny
23      New York        Ny
26         India        In
27         India        In
28     Australia       Aus

 ## Project 2 in new file sir